<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
        <!-- Información Personal -->
        <div class="form-section">
            <h3>Información Personal</h3>
            <div class="form-group">
                <label for="firstName">Nombre:</label>
                <input id="firstName" formControlName="firstName">
            </div>

            <div class="form-group">
                <label for="lastName">Apellido:</label>
                <input id="lastName" formControlName="lastName">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" formControlName="email" type="email">
            </div>

            <div class="form-group">
                <label for="age">Edad:</label>
                <input id="age" formControlName="age" type="number">
            </div>
        </div>

        <!-- Detalles del Trabajo -->
        <div class="form-section">
            <h3>Detalles del Trabajo</h3>
            <div class="form-group">
                <label for="position">Puesto:</label>
                <input id="position" formControlName="position">
            </div>

            <div class="form-group">
                <label for="department">Departamento:</label>
                <input id="department" formControlName="department">
            </div>

            <div class="form-group">
                <label for="salary">Salario:</label>
                <input id="salary" formControlName="salary" type="number">
            </div>

            <div class="form-group">
                <label for="hireDate">Fecha de Contratación:</label>
                <input id="hireDate" formControlName="hireDate" type="date">
            </div>
        </div>



    </div>

    <button type="submit" [disabled]="employeeForm.invalid">Enviar</button>
</form>