<div class="modal-backdrop" *ngIf="isOpen" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h2>{{ title }}</h2>
        <button class="close-btn" (click)="close()">✖</button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <button class="btn btn-cancel" (click)="close()">Cancelar</button>
        <button class="btn btn-accept" (click)="accept()">Aceptar</button>
      </div>
    </div>
  </div>