<app-breadcrumb></app-breadcrumb>


<div>
    <input type="text" (keyup)="applyFilter($event)" placeholder="Filtrar empleados">
  </div>
  
  <table class="autoajustable">
    <thead>
      <tr>
        <th (click)="sortTable('id')">ID</th>
        <th (click)="sortTable('name')">Nombre</th>
        <th (click)="sortTable('position')">Posición</th>
        <th (click)="sortTable('salary')">Salario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of paginatedData">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.salary }}</td>
        <td>
          <button (click)="viewEmployee(employee)">Ver</button>
          <button (click)="editEmployee(employee)">Editar</button>
          <button (click)="deleteEmployee(employee)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }}</span>
    <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= dataSource.length">Siguiente</button>
  </div>
  


  <table class="autoajustable">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Ciudad</th>
            <th>País</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Juan Pérez Juan PérezJuan Pérez</td>
            <td>28</td>
            <td>Madrid</td>
            <td>España</td>
        </tr>
        <tr>
            <td>Ana Gómez</td>
            <td>34</td>
            <td>Buenos ddddddddddddddddddddddddddddddddddddddddddAires</td>
            <td>Argentina</td>
        </tr>
        <tr>
            <td>Carlos Ruiz</td>
            <td>22</td>
            <td>Ciudad de México</td>
            <td>México</td>
        </tr>
    </tbody>
</table>